<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
      <nav class="footer-links">
        {% block footer_nav %}
          <ul class="unstyled">
            {% block footer_links %}
              <li><a href="{{ h.url_for(controller='home', action='about') }}">{{ _('About {0}').format(g.site_title) }}</a></li>
              <li><a class="logo" href="https://blog.piratenpartei-nrw.de/mettmann/"><img src="{% url_for_static('/images/logo_piratenpartei_me_kopfzeile_grau_100.jpg') %}" alt="Logo der Piraten in Mettmann" title="Piraten in Mettmann" /></a></li>
              <li>Hintergrundbild: <a href="http://www.openstreetmap.org/copyright">© OpenStreetMap-Mitwirkende</a></li>
            {% endblock %}
          </ul>
          <ul class="unstyled">
            {% block footer_links_ckan %}
              {% set api_url = 'http://docs.ckan.org/en/{0}/api.html'.format(g.ckan_doc_version) %}
              <li><a href="{{ api_url }}">{{ _('CKAN API') }}</a></li>
              <li><a href="http://www.okfn.org/">{{ _('Open Knowledge Foundation') }}</a></li>
              <li><a href="http://www.opendefinition.org/okd/"><img src="http://assets.okfn.org/images/ok_buttons/od_80x15_blue.png"></a></li>
            {% endblock %}
          </ul>
        {% endblock %}
      </nav>
      <div class="attribution">
        {% block footer_attribution %}
          <p>{% trans %}<strong>Powered by</strong> <a class="hide-text ckan-footer-logo" href="http://ckan.org">CKAN</a>{% endtrans %}</p>
        {% endblock %}
        {% block footer_lang %}
          {% snippet "snippets/language_selector.html" %}
        {% endblock %}
      </div>
    {% endblock %}
  </div>

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
