{% extends "page.html" %}

{% block subtitle %}{{ _('About') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('About'), controller='home', action='about' %}</li>
{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
      {% block about %}
        {% if g.site_about %}
          {{ h.render_markdown(g.site_about) }}
        {% else %}
          <h1 class="page-heading">{{ _('About') }}</h1>
          {% snippet 'home/snippets/about_text.html' %}
        {% endif %}

        {# Now render the comments in own block #}
        {% block disqus_comments %}
          {{ h.disqus_comments() }}
        {% endblock %}

      {% endblock %}
    </div>
  </article>
{% endblock %}

{% block secondary %}{% endblock %}
