{% extends "page.html" %}
{% set homepage_style = ( g.homepage_style or '1' ) %}

{% block subtitle %}{{ _("Welcome") }}{% endblock %}

{% block maintag %}{% endblock %}
{% block toolbar %}{% endblock %}

{% block content %}
  <div class="homepage layout-{{ homepage_style }}">
    <div class="container">
      {{ self.flash() }}
    </div>
    {% block primary_content %}
      {% snippet "home/layout{0}.html".format(homepage_style) %}

    <div role="main">
      <div class="container">
        <div class="box">
          {% snippet "home/snippets/disqus.html".format(homepage_style) %}
        </div>
      </div>
    </div>

    {% endblock %}
  
  </div>
{% endblock %}
