<div role="main" class="hero">
  <div class="container">
    <div class="row row1">
      <div class="span6 col1">
        {% snippet 'home/snippets/search.html' %}
        {% snippet 'home/snippets/stats.html' %}
      </div>
      <div class="span6 col2">
        {% snippet 'home/snippets/promoted.html' %}
      </div>
    </div>
  </div>
</div>
<div role="main">
  <div class="container">
        {% snippet 'home/snippets/featured_group.html' %}
  </div>
</div>